/*/ Fonts /*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Oswald:300,400&subset=latin,cyrillic);
* {
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font: 300 14px/1.2 "Oswald", sans-serif;
  color: #B5BCC2;
  background: white; }

.header {
  height: 45px;
  margin: 0 0 25px 0;
  color: white;
  font-size: 24px;
  line-height: 45px;
  background-color: #1FB6FF; }
  .header span {
    color: #CEE800;
    font-weight: 400; }

.create-post {
  margin: 50px 0; }
  .create-post .create-post-button {
    height: 80px;
    background-color: #229FFF; }
    .create-post .create-post-button > .fa {
      width: 80px;
      height: 80px;
      float: left;
      text-align: center;
      line-height: 80px;
      color: white;
      font-size: 24px;
      position: relative;
      display: block; }
    .create-post .create-post-button > .description {
      padding: 20px 0;
      font: 300 16px/30px 'Oswald', sans-serif;
      color: white;
      text-transform: uppercase; }
      .create-post .create-post-button > .description > span {
        font: 400 12px/10px 'Oswald', sans-serif;
        color: #CEE800;
        display: block; }
    .create-post .create-post-button:hover {
      background-color: #1FB6FF;
      cursor: pointer; }
  .create-post .create-post-form {
    width: 100%;
    padding: 20px;
    background-color: #EFF2F7;
    display: none; }
    .create-post .create-post-form > .field {
      height: 40px;
      padding: 0;
      display: block; }
      .create-post .create-post-form > .field.textarea {
        height: auto; }
      .create-post .create-post-form > .field.input {
        margin-top: 15px; }
      .create-post .create-post-form > .field > textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 250px;
        min-height: 250px;
        max-height: 450px;
        resize: vertical;
        padding: 10px;
        border: 1px solid #E0E6ED;
        font: 400 14px/1.4 'Roboto Condensed', sans-serif;
        color: #1F2D3D; }
      .create-post .create-post-form > .field > input[type='text'] {
        width: 50%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid #E0E6ED;
        font: 400 14px/25px 'Roboto Condensed', sans-serif;
        color: #1F2D3D; }
    .create-post .create-post-form > .cancel-post {
      margin-top: 15px;
      font: 400 14px/40px 'Roboto Condensed', sans-serif;
      color: #1F2D3D;
      text-decoration: underline; }
      .create-post .create-post-form > .cancel-post:hover {
        text-decoration: none;
        cursor: pointer; }
    .create-post .create-post-form > button {
      height: 40px;
      float: right;
      padding: 0 12px;
      margin-top: 15px;
      border: 0;
      font: 300 14px/40px 'Oswald', sans-serif;
      color: white;
      text-decoration: none;
      background-color: #229FFF;
      display: inline-block; }
      .create-post .create-post-form > button:hover {
        background-color: #1FB6FF;
        cursor: pointer; }

.popular-posts {
  padding: 0 0 50px 0;
  position: relative; }
  .popular-posts h2 {
    margin: 0 0 20px 0;
    font: 400 28px/1.2 'Oswald', sans-serif;
    color: #273444; }
  .popular-posts .slick-arrow {
    width: 50px;
    height: 50px;
    margin: 0 0 -50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: #3C4858;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, 0); }
    .popular-posts .slick-arrow.fa-angle-left {
      margin-left: -55px; }
    .popular-posts .slick-arrow.fa-angle-right {
      margin-right: -55px; }
    .popular-posts .slick-arrow:hover {
      color: #229FFF;
      cursor: pointer; }
  .popular-posts .post {
    height: 240px;
    padding: 20px;
    background-color: #EFF2F7;
    position: relative; }
    .popular-posts .post > .content {
      height: 70px;
      margin: 15px 0;
      font: 400 14px/1.2 'Roboto Condensed', sans-serif;
      color: #3C4858;
      text-align: justify;
      overflow: hidden; }
    .popular-posts .post > .meta {
      height: 25px; }
      .popular-posts .post > .meta > span {
        height: 25px;
        float: left;
        padding: 0 0 0 30px;
        font: 300 14px/25px 'Oswald', sans-serif;
        color: #273444;
        position: relative;
        display: inline-block; }
        .popular-posts .post > .meta > span > .fa {
          width: 25px;
          height: 25px;
          float: left;
          text-align: center;
          line-height: 25px;
          color: white;
          font-size: 16px;
          background-color: #3C4858;
          position: absolute;
          left: 0;
          top: 0;
          display: block; }
      .popular-posts .post > .meta > .author {
        margin: 0 10px 0 0; }
      .popular-posts .post > .meta > .date {
        float: right;
        padding: 0 30px 0 0; }
        .popular-posts .post > .meta > .date > .fa {
          right: 0;
          left: auto; }
    .popular-posts .post > .button {
      height: 35px;
      float: right;
      padding: 0 12px;
      margin: 15px 0 0 0;
      border: 0;
      font: 300 14px/35px 'Oswald', sans-serif;
      color: white;
      text-decoration: none;
      background-color: #229FFF;
      display: inline-block; }
      .popular-posts .post > .button:hover {
        background-color: #1FB6FF;
        cursor: pointer; }

.main-posts {
  margin: 0 0 50px 0; }
  .main-posts h2 {
    margin: 0 0 20px 0;
    font: 400 28px/1.2 'Oswald', sans-serif;
    color: #273444; }
  .main-posts .post {
    height: 240px;
    padding: 20px;
    border: 1px solid #E0E6ED;
    border-top: 0;
    border-left: 0;
    background-color: #EFF2F7;
    position: relative; }
    .main-posts .post:nth-child(3n+1) {
      border-right: 0; }
    .main-posts .post:last-child {
      border-right: 0; }
    .main-posts .post > .content {
      height: 70px;
      margin: 15px 0;
      font: 400 14px/1.2 'Roboto Condensed', sans-serif;
      color: #3C4858;
      text-align: justify;
      overflow: hidden; }
    .main-posts .post > .meta {
      height: 25px; }
      .main-posts .post > .meta > span {
        height: 25px;
        float: left;
        padding: 0 0 0 30px;
        font: 300 14px/25px 'Oswald', sans-serif;
        color: #273444;
        position: relative;
        display: inline-block; }
        .main-posts .post > .meta > span > .fa {
          width: 25px;
          height: 25px;
          float: left;
          text-align: center;
          line-height: 25px;
          color: white;
          font-size: 16px;
          background-color: #3C4858;
          position: absolute;
          left: 0;
          top: 0;
          display: block; }
      .main-posts .post > .meta > .author {
        margin: 0 10px 0 0; }
      .main-posts .post > .meta > .date {
        float: right;
        padding: 0 30px 0 0; }
        .main-posts .post > .meta > .date > .fa {
          right: 0;
          left: auto; }
    .main-posts .post > .button {
      height: 35px;
      float: right;
      padding: 0 12px;
      margin: 15px 0 0 0;
      border: 0;
      font: 300 14px/35px 'Oswald', sans-serif;
      color: white;
      text-decoration: none;
      background-color: #229FFF;
      display: inline-block; }
      .main-posts .post > .button:hover {
        background-color: #1FB6FF;
        cursor: pointer; }

.post-wrapper .home-button {
  height: 35px;
  padding: 0 12px;
  margin: 0 0 15px 0;
  border: 0;
  font: 300 14px/35px 'Oswald', sans-serif;
  color: white;
  text-decoration: none;
  background-color: #229FFF;
  display: inline-block; }
  .post-wrapper .home-button:hover {
    background-color: #1FB6FF;
    cursor: pointer; }
.post-wrapper .post {
  padding: 20px;
  background-color: #EFF2F7;
  position: relative; }
  .post-wrapper .post > .content {
    margin: 15px 0;
    font: 400 14px/1.2 'Roboto Condensed', sans-serif;
    color: #3C4858;
    text-align: justify; }
  .post-wrapper .post > .meta {
    height: 25px; }
    .post-wrapper .post > .meta > span {
      height: 25px;
      float: left;
      padding: 0 0 0 30px;
      font: 300 14px/25px 'Oswald', sans-serif;
      color: #273444;
      position: relative;
      display: inline-block; }
      .post-wrapper .post > .meta > span > .fa {
        width: 25px;
        height: 25px;
        float: left;
        text-align: center;
        line-height: 25px;
        color: white;
        font-size: 16px;
        background-color: #3C4858;
        position: absolute;
        left: 0;
        top: 0;
        display: block; }
    .post-wrapper .post > .meta > .author {
      margin: 0 10px 0 0; }
    .post-wrapper .post > .meta > .date {
      float: right;
      padding: 0 30px 0 0; }
      .post-wrapper .post > .meta > .date > .fa {
        right: 0;
        left: auto; }
.post-wrapper .comments-wrapper {
  margin: 20px 0 50px 0; }
  .post-wrapper .comments-wrapper > .comments-form {
    height: 40px;
    margin: 0 0 20px 0; }
    .post-wrapper .comments-wrapper > .comments-form > input[type='text'] {
      height: 40px;
      padding: 0 10px;
      border: 1px solid #E0E6ED;
      font: 400 14px/25px 'Roboto Condensed', sans-serif;
      color: #1F2D3D; }
    .post-wrapper .comments-wrapper > .comments-form > button {
      height: 40px;
      padding: 0 12px;
      border: 0;
      font: 300 14px/40px 'Oswald', sans-serif;
      color: white;
      text-decoration: none;
      background-color: #229FFF;
      display: inline-block; }
      .post-wrapper .comments-wrapper > .comments-form > button:hover {
        background-color: #1FB6FF;
        cursor: pointer; }
  .post-wrapper .comments-wrapper > .comments-list > .comment {
    padding: 20px;
    margin: 0 0 10px 0;
    background-color: #F9FAFC; }
    .post-wrapper .comments-wrapper > .comments-list > .comment > .author {
      font: 400 16px/25px 'Oswald', sans-serif;
      color: #273444; }
      .post-wrapper .comments-wrapper > .comments-list > .comment > .author > span {
        float: right;
        font-weight: 300;
        font-size: 14px;
        color: #8492A6; }
    .post-wrapper .comments-wrapper > .comments-list > .comment > .comment-text {
      margin: 10px 0 0 0;
      font: 400 14px/1.2 'Roboto Condensed', sans-serif;
      color: #3C4858; }

/*# sourceMappingURL=theme.css.map */
