/*/ Fonts /*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Oswald:300,400&subset=latin,cyrillic);

* {
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 300 14px/1.2 "Oswald", sans-serif; color: #B5BCC2;
  background: white;
}

.header {
  height: 45px;
  margin: 0 0 25px 0;
  color: white; font-size: 24px; line-height: 45px;
  background-color: #1FB6FF;

  span {color: #CEE800; font-weight: 400;}
}

.create-post {
  margin: 50px 0;

  .create-post-button {
    height: 80px;
    background-color: #229FFF;

    > .fa {
      width: 80px; height: 80px; float: left;
      text-align: center; line-height: 80px;
      color: white; font-size: 24px;
      position: relative;
      display: block;
    }
    > .description {
      padding: 20px 0;
      font: 300 16px/30px 'Oswald', sans-serif; color: white;
      text-transform: uppercase;

      > span {
        font: 400 12px/10px 'Oswald', sans-serif; color: #CEE800;
        display: block;
      }
    }

    &:hover {background-color: #1FB6FF; cursor: pointer;}
  }

  .create-post-form {
    width: 100%;
    padding: 20px;
    background-color: #EFF2F7;
    display: none;

    > .field {
      height: 40px;
      padding: 0;
      display: block;

      &.textarea {height: auto;}
      &.input {margin-top: 15px;}

      > textarea {
        width: 100%; max-width: 100%; min-width: 100%;
        height: 250px; min-height: 250px; max-height: 450px;
        resize: vertical;

        padding: 10px;
        border: 1px solid #E0E6ED;
        font: 400 14px/1.4 'Roboto Condensed', sans-serif; color: #1F2D3D;
      }

      > input[type='text'] {
        width: 50%; height: 40px;
        padding: 0 10px;
        border: 1px solid #E0E6ED;
        font: 400 14px/25px 'Roboto Condensed', sans-serif; color: #1F2D3D;
      }
    }

    > .cancel-post {
      margin-top: 15px;
      font: 400 14px/40px 'Roboto Condensed', sans-serif; color: #1F2D3D;
      text-decoration: underline;

      &:hover {text-decoration: none; cursor: pointer;}
    }
    > button {
      height: 40px; float: right;
      padding: 0 12px; margin-top: 15px;
      border: 0;
      font: 300 14px/40px 'Oswald', sans-serif; color: white;
      text-decoration: none;
      background-color: #229FFF;
      display: inline-block;

      &:hover {background-color: #1FB6FF; cursor: pointer;}
    }
  }
}

.popular-posts {
  padding: 0 0 50px 0;
  position: relative;

  h2 {
    margin: 0 0 20px 0;
    font: 400 28px/1.2 'Oswald', sans-serif; color: #273444;
  }

  .slick-arrow {
    width: 50px; height: 50px;
    margin: 0 0 -50px;
    text-align: center; line-height: 50px;
    font-size: 24px; color: #3C4858;
    position: absolute; bottom: 0; left: 50%;
    z-index: 101;
    transform: translate(-50%, 0);

    &.fa-angle-left {margin-left: -55px;}
    &.fa-angle-right {margin-right: -55px;}

    &:hover {color: #229FFF; cursor: pointer;}
  }

  .post {
    height: 240px;
    padding: 20px;
    background-color: #EFF2F7;
    position: relative;

    > .content {
      height: 70px;
      margin: 15px 0;
      font: 400 14px/1.2 'Roboto Condensed', sans-serif; color: #3C4858;
      text-align: justify;
      overflow: hidden;
    }
    > .meta {
      height: 25px;

      > span {
        height: 25px; float: left;
        padding: 0 0 0 30px;
        font: 300 14px/25px 'Oswald', sans-serif; color: #273444;
        position: relative;
        display: inline-block;

        > .fa {
          width: 25px; height: 25px; float: left;
          text-align: center; line-height: 25px;
          color: white; font-size: 16px;
          background-color: #3C4858;
          position: absolute; left: 0; top: 0;
          display: block;
        }
      }

      > .author {margin: 0 10px 0 0;}
      > .comments {}
      > .date {float: right; padding: 0 30px 0 0; > .fa {right: 0; left: auto;}}
    }
    > .button {
      height: 35px; float: right;
      padding: 0 12px; margin: 15px 0 0 0;
      border: 0;
      font: 300 14px/35px 'Oswald', sans-serif; color: white;
      text-decoration: none;
      background-color: #229FFF;
      display: inline-block;

      &:hover {background-color: #1FB6FF; cursor: pointer;}
    }
  }
}

.main-posts {
  margin: 0 0 50px 0;

  h2 {
    margin: 0 0 20px 0;
    font: 400 28px/1.2 'Oswald', sans-serif; color: #273444;
  }
  .post {
    height: 240px;
    padding: 20px;
    border: 1px solid #E0E6ED;
    border-top: 0; border-left: 0;
    background-color: #EFF2F7;
    position: relative;

    &:nth-child(3n+1) {border-right: 0;}
    &:last-child {border-right: 0;}

    > .content {
      height: 70px;
      margin: 15px 0;
      font: 400 14px/1.2 'Roboto Condensed', sans-serif; color: #3C4858;
      text-align: justify;
      overflow: hidden;
    }
    > .meta {
      height: 25px;

      > span {
        height: 25px; float: left;
        padding: 0 0 0 30px;
        font: 300 14px/25px 'Oswald', sans-serif; color: #273444;
        position: relative;
        display: inline-block;

        > .fa {
          width: 25px; height: 25px; float: left;
          text-align: center; line-height: 25px;
          color: white; font-size: 16px;
          background-color: #3C4858;
          position: absolute; left: 0; top: 0;
          display: block;
        }
      }

      > .author {margin: 0 10px 0 0;}
      > .comments {}
      > .date {float: right; padding: 0 30px 0 0; > .fa {right: 0; left: auto;}}
    }
    > .button {
      height: 35px; float: right;
      padding: 0 12px; margin: 15px 0 0 0;
      border: 0;
      font: 300 14px/35px 'Oswald', sans-serif; color: white;
      text-decoration: none;
      background-color: #229FFF;
      display: inline-block;

      &:hover {background-color: #1FB6FF; cursor: pointer;}
    }
  }
}

.post-wrapper {

  .home-button {
    height: 35px;
    padding: 0 12px; margin: 0 0 15px 0;
    border: 0;
    font: 300 14px/35px 'Oswald', sans-serif; color: white;
    text-decoration: none;
    background-color: #229FFF;
    display: inline-block;

    &:hover {background-color: #1FB6FF; cursor: pointer;}
  }
  .post {
    padding: 20px;
    background-color: #EFF2F7;
    position: relative;

    > .content {
      margin: 15px 0;
      font: 400 14px/1.2 'Roboto Condensed', sans-serif; color: #3C4858;
      text-align: justify;
    }
    > .meta {
      height: 25px;

      > span {
        height: 25px; float: left;
        padding: 0 0 0 30px;
        font: 300 14px/25px 'Oswald', sans-serif; color: #273444;
        position: relative;
        display: inline-block;

        > .fa {
          width: 25px; height: 25px; float: left;
          text-align: center; line-height: 25px;
          color: white; font-size: 16px;
          background-color: #3C4858;
          position: absolute; left: 0; top: 0;
          display: block;
        }
      }

      > .author {margin: 0 10px 0 0;}
      > .comments {}
      > .date {float: right; padding: 0 30px 0 0; > .fa {right: 0; left: auto;}}
    }
  }

  .comments-wrapper {
    margin: 20px 0 50px 0;

    > .comments-form {
      height: 40px;
      margin: 0 0 20px 0;

      > input[type='text'] {
        height: 40px;
        padding: 0 10px;
        border: 1px solid #E0E6ED;
        font: 400 14px/25px 'Roboto Condensed', sans-serif; color: #1F2D3D;
      }

      > button {
        height: 40px;
        padding: 0 12px;
        border: 0;
        font: 300 14px/40px 'Oswald', sans-serif; color: white;
        text-decoration: none;
        background-color: #229FFF;
        display: inline-block;

        &:hover {background-color: #1FB6FF; cursor: pointer;}
      }
    }
    > .comments-list {

      > .comment {
        padding: 20px; margin: 0 0 10px 0;
        background-color: #F9FAFC;

        > .author {
          font: 400 16px/25px 'Oswald', sans-serif; color: #273444;

          > span {float: right; font-weight: 300; font-size: 14px; color: #8492A6;}
        }
        > .comment-text {margin: 10px 0 0 0; font: 400 14px/1.2 'Roboto Condensed', sans-serif; color: #3C4858;}
      }
    }
  }
}